@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%); /* Start 100% down from its original position */
        opacity: 0;
    }
    100% {
        transform: translateY(0); /* End at its original position */
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%); /* Start 100% down from its original position */
        opacity: 0;
    }
    100% {
        transform: translateX(0); /* End at its original position */
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
     0% {
         transform: translateX(-25%); /* Start 100% down from its original position */
         opacity: 0;
     }
     100% {
         transform: translateX(0); /* End at its original position */
         opacity: 1;
     }
 }

.animated-text {
    animation: slideInFromBottom 1s ease-out forwards; /* Apply the animation */
}

.animated-text-right{
    animation: slideInFromRight 1s ease-out forwards; /* Apply the animation */
}

.animated-text-left{
    animation: slideInFromLeft 1s ease-out forwards;
}

.delay {
    opacity: 0;
    animation-delay: 0.75s;
}

.delay2 {
    opacity: 0;
    animation-delay: 1.5s;
}

.project-delay{
    opacity: 0;
    animation-delay: 0.25s;
}

.project-delay2{
    opacity: 0;
    animation-delay: 0.5s;
}

.project-delay3{
    opacity: 0;
    animation-delay: 0.75s;
}

.project-delay4{
    opacity: 0;
    animation-delay: 1s;
}

.project-delay5{
    opacity: 0;
    animation-delay: 1.25s;
}