@import "tailwindcss";
@tailwind utilities;


:root {

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --primary-color: #222;
    --secondary-color: #111;
    --tertiary-color: #fad541;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-shadow{
    filter: drop-shadow(4px 3px 4px #000000);
}
